<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <h1>{{ title }}</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h3>Archivos de {{ title }}</h3>
      <p>Tenemos <b>{{ filenumber }}</b> archivos de {{ title }}</p>
      <p>Host: {{ hostname }}</p>
    </div>
  </div>
</div>

</body>
</html>
